/.venv/
/.env
/.cache

# Ignorer les anciens fichiers
/old/

# Ignorer les fichiers de données
/data/playlist_data.json
/data/playlist_ids.json

# Ignorer les fichiers de paroles et de playlists
data/lrc/*.lrc
data/playlists/*.json

# Ignorer les fichiers de la partie en cours
/current_game/config.json
/current_game/songs.json
