<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blindtest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Blindtest</h1>
                <a href="/test" class="btn btn-primary">Computer</a>
                <a href="/mobile" class="btn btn-primary">Mobile</a>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script>
        var socket = io();

        socket.on('reload', function(data) {
            console.log('Received reload:', data)
            // Reload the page
            location.reload();
        });

        socket.on('progress_update', function(data) {
            console.log('Received progress update:', data)
            // Get the progress bar for the updated batch
            var progressBar = document.querySelector(`.progress-bar[data-playlist-name="${data.playlist}"][data-batch-number="${data.batch}"]`);

            // Update the progress bar's width and text
            progressBar.style.width = `${(data.value / progressBar.getAttribute('aria-valuemax')) * 100}%`;
            progressBar.textContent = `${data.value} / ${progressBar.getAttribute('aria-valuemax')}`;
        });
    </script>
</body>

</html>